extends ../../layouts/default.pug 
block main
  section.row.g-3
    .col-md-3
      .stat-card
        h2 20
        p Tổng công việc
    .col-md-3
      .stat-card
        h2 14
        p Job đang hiển thị
    .col-md-3
      .stat-card
        h2 6
        p Job bị ẩn
    .col-md-3
      .stat-card
        h2 8
        p Ứng viên

