extends ../../layouts/default.pug 
block main
  section.row.g-3
    .col-md-3
      .stat-card
        h2 #{sumJob}
        p Tổng công việc
    .col-md-3
      .stat-card
        h2 #{activeJob}
        p Job đang hiển thị
    .col-md-3
      .stat-card
        h2 #{inactiveJob}
        p Job bị ẩn
    .col-md-3
      .stat-card
        h2 8
        p Ứng viên

