header.header.bg-dark.text-white.fixed-top
    .container-fluid
        .row.align-items-center
            .col-3 
                .inner-logo Admin
            .col-9.d-flex.justify-content-end
                div(class="text-end")
                    a(
                        href=`/${prefixAdmin}/auth/logout`
                        class="btn btn-danger btn-sm"
                    ) Đăng xuất